<h1>I Ship It!</h1>

<p>To query USPS and Fedex for shipping rates, use the following url:</p>

<code>http://ishipit.herokuapp.com/search?package_info[weight]=<span style="color:red">ENTER WEIGHT HERE</span>&package_info[dest_zip]=<span style="color:red">ENTER ZIP HERE</span></code>

<p>To track a Fedex or USPS shipment, use the following url: </p>

<code>http://ishipit.herokuapp.com/track?carrier_name=<span style="color:red">ENTER CARRIER NAME HERE</span>&tracking_no=<span style="color:red">ENTER TRACKING NUMBER HERE</span></code>

<p>For carrier name, use "usps" or "fedex"</p>
